	  #cover1 {margin-left: 1em; margin-top: 1em; width: 4em; position: absolute; top: 0em; height: 6em}
	  #cover2 {margin-top: 1em; width: 4em; position: absolute; top: 0em; height: 6em; margin-left: 5.2em}
	  #cover3 {margin-top: 1em;width: 4em; position: absolute; top: 0em; height: 6em; margin-left: 9.4em}
      #booktitle {height: 1em; margin: 0.1em 0em; font: bold 150% Verdana, Arial, Helvetica, sans-serif; color: navy; text-align: center}
      #edition {height: 1em; margin: 0.25em 0em; font: bold 140% Helvetica, sans-serif; color: navy; text-align: center}
      #author {height: 1em; margin: 0.25em 0em; font: bold 140% Verdana, Arial, Helvetica, sans-serif; color: navy; text-align: center}
      #part {margin-top: 1em; margin-bottom: 1ex; font: bold 100%   Helvetica, Verdana, "Times New Roman", Arial, sans-serif; color: #123456; margin-left: 0.5em}
      #chapter {margin-top: 0.1em; margin-bottom: 0.5ex; font: 100% "Times New Roman", Helvetica, sans-serif; color: black; margin-left: 1em}

#subtabextendline {clear: both; background: #edc100; margin: 0em; 
     font: bold italic 10em Verdana, Arial, Helvetica, sans-serif; border-bottom: #edc100 0.1em solid; position: relative; text-align: center
}

#tabextendline {
	clear: both; background: #edc100; margin: 0em; 
	font: bold italic 10em Verdana, Arial, Helvetica, sans-serif; border-bottom: #edc100 0.1em solid; position: relative; text-align: center
}

#tabcontainer {
	 margin: 0em 0em 0em 20%; width: 62%
}

#headtabs li {float: left; width: 19.5%}

#headtabs {
	width: 100%; padding-right: 0em; padding-left: 0em; padding-bottom: 0em; margin: 0em; padding-top: 0em; list-style-type: none
}

#headtabs li a {
	display: block; font: bold small Verdana, sans-serif; color: white; position: relative; text-align: center; text-decoration: none
}

#headtabs li a.active {color: white; background-color: #edc17f}

#headtabs li a.subactive {color: white; background-color: #edc100}

#lefttab {
	padding-left: 0.1em; padding-right: 0.1em; padding-top: 0.1em; padding-bottom: 0.1em; background-color: #476d9f;
	margin-right: -0.1em
}

#middletab {
	padding-left: 0.1em; padding-right: 0.1em; padding-bottom: 0.1em; padding-top: 0.1em; background-color: #476d9f;
	border-left: white 0.1em solid
}

#righttab {
	padding-right: 0.1em; padding-left: 0.1em; padding-bottom: 0.1em; padding-top: 0.1em; background-color: #476d9f;
	border-left: white 1px solid
}

#maincontentstyle {
	padding-right: 1em; padding-left: 1.5em; background: white repeat-x; 
	padding-bottom: em; width: auto; padding-top: 1em
}

#boxstyle {
	border-right: 1px solid; background: white; padding-bottom: 15px; border-left: 1px solid; border-bottom: 1px solid; width: auto; 
}

#smallboxstyle {border-right: #edc100 1px solid; background: white; border-left: #edc100 1px solid; width: 25%; text-align: left;
		border-bottom: #edc100 1px solid}

#h3style {color: white; font-family: Helvetica, sans-serif; background: #edc100; border-color: #edc100; text-align: center;
margin-bottom: 0.5em}

#smallh3style {color: white; font-family: Helvetica, sans-serif; background: #edc100; border-color: #edc100; text-align: center;
margin-bottom: 0.5em; font-size: 90%}

#parastyle {border-color: cyan; color: black; margin-left: 0.5em; margin-right: 0.5em; margin-top: 0.5em;}
